* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inputSection {
    padding: 2rem 4rem;
}

.searchInput{
    font-style: inherit;
    font-size: large;
    padding: 1rem 1.5rem;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    outline: none;
}
.searchButton {
    font-style: inherit;
    font-size: large;
    outline: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    letter-spacing: 2px;
    border-radius: 0.5rem;
}
.searchInput:focus {
    outline: 1.5px solid black;
}

/* data section */
.dataSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    gap: 2rem;
    width: 40%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px dashed black;
    border-right: 2px dashed black;
    padding: 4rem 2rem;
}
.dataSection .extraDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px dashed black;
    border-right: 2px dashed black;
}

.extraDetails div {
    display: flex;
    width: 80%;
    padding: 1rem 5rem;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
.extraDetails div:last-child {
    border-bottom: none;
}
.extraDetails div .label {
    text-align: left;
    width: 100%;
}
